{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	
		<div class="card card-body">
			{% if action == 'create' %}
				<h3>Create Product</h3>
			{% elif action == 'update' %}
				<h3>Update Product</h3>
			{% endif %}
			
	
	</div>
</div>

<div class="row">

		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
				{{ form }}
				<hr>
				<input type="submit" class="btn btn-info">
			</form>
		</div>

</div>

{% endblock %}