{% extends 'accounts/main.html' %}

{% block content %}
{% include 'accounts/status.html' %}

<hr>


<div class = "row">
	<div class = 'col-md-5'>
		<h5><b><center>Customers</center></b></h5>
		<b><hr></b>
		<div class="card card-body">
			<a class='btn btn-primary btn-sm btn-block' href="">Create Customer</a>
			<table class = 'table table-sm'>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Orders</th>
				</tr>
				{% for i in custs %}
				<tr>
					<td><a href="{% url 'customer' i.id %}" class="btn btn-sm btn-outline-info">View</a></td>
					<td>{{i.name}}</td>
					<td>{{i.email}}</td>
					
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class = 'col-md-7'>
		<h5><b><center>Orders</center></b></h5>
		<hr>
		<div class="card card-body">
			<table class = 'table table-sm'>
				<tr>
					
					<th>Product</th>
					<th>Date ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for i in orders %}
				<tr>
				
					<td>{{i.product}}</td>
					<td>{{i.date_created}}</td>
					<td>{{i.status}}</td>
					<td><a href="{% url 'update_order' i.id %}" class='btn btn-sm btn-primary'>Update</a></td>
					<td><a href="{% url 'delete_order' i.id %}" class='btn btn-sm btn-danger'>Remove</a></td>
				</tr>

				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}